ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}
li
{
    display: flex;
    flex-direction: row;
    padding: 10px;

    align-items: center;
    justify-content: space-between;
}
li:nth-child(odd)
{
    background-color: #eee;
}
li span
{
    display: inline-block;
}
li .disponible
{
    font-size: .6em;
}
.disponible[data-dispo=false]
{
    opacity: .3;
}
.disponible[data-dispo=true]
{
    color: green;
}
.disponible[data-dispo=true]:before
{
    display: inline-block;
    margin-right: 5px;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: green;
    content: '';
    vertical-align: middle;
}
