body, html {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}
.float-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.float-nav a {
  display: block;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  line-height: 40px;
  text-align: center;
  background-color: rgba(0,0,0,0.3);
}
.float-nav .foot {
  background-color: green;
  color: white;
}


.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.avatar {
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 100%;
  background-color: gray;
  vertical-align: middle;
}
.nom {
  margin: 0 10px;
  font-size: 1em;
  line-height: 30px;
}
